@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --my_Green: "hsl(75, 94%, 57%)";
  --my_White: "hsl(0, 0%, 100%)";
  --my_Grey: "hsl(0, 0%, 20%)";
  --my_Dark_Grey: "hsl(0, 0%, 12%)";
  --my_Off_Black: "hsl(0, 0%, 8%)";
}
/* in case you want to use the customized styles here for the button */

/* .button {
  color: var(--my_White);
  background-color: var(--my_Grey);
  font-size: 22px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
  } 

}*/
